.boton-nuevo:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Nuevo.png');
}

.boton-nuevo:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-buscar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Buscar.png');
}

.boton-buscar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-grabar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Guardar.png');
}

.boton-grabar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-eliminar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Eliminar.png');
}

.boton-eliminar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-addtarea:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AgregaTarea.png');
}

.boton-addtarea:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-addgasto:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AgregaGasto.png');
}

.boton-addgasto:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-addproceso:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AgregaProceso.png');
}

.boton-addproceso:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-addplantilla:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AgregaPlantilla.png');
}

.boton-addplantilla:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-cargaplantilla:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/CargaArchivo.png');
}

.boton-cargaplantilla:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-agregaplantilla:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AgregaPlantilla.png');
}

.boton-agregaplantilla:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-activar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Activar.png');
}

.boton-activar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-asignarpersona:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AsignarPersona.png');
}

.boton-asignarpersona:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-asignartarea:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/AsignarTarea.png');
}

.boton-asignartarea:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-cancelar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Cancelar.png');
}

.boton-cancelar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-cerrar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Cerrar.png');
}

.boton-cerrar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-detener:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Detener.png');
}

.boton-detener:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-inactivar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Inactivar.png');
}

.boton-inactivar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-iniciar:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/Iniciar.png');
}

.boton-verlinea:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-verlinea:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/VerLinea.png');
}

.boton-verarchivo:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-verarchivo:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/VerArchivo.png');
}

.boton-iniciar:hover {
    border-color: steelblue;
    background-color: #E5E8E8;
}

.boton-margen {
    margin-left: 4px;
}